@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Martian Mono';
    src: url('../fonts/martian-mono/MartianMono-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 1190px;
    padding-inline: 10px;
    margin-inline: auto;
}

h1 {
    max-width: 570px;
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-block-end: 24px;
    background: linear-gradient(107.24deg, #FEA36F -11.37%, #062630 61.84%);
    background-clip: text;
    color: transparent;
}

h2 {
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -2px;
    color: #062630;

}

h3 {
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #062630;
}

footer h2 {
    color: #FAF5F3;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
}

.developers_200 {
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #385159;
    max-width: 388px;
    position: relative;
}

.developers_200::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/stars.svg);
    width: 120px;
    height: 24px;
    background-repeat: no-repeat;
    /* transform:translate(-100%, -100%); */
    top: -28px;
    left: 0;
}

.icon__people {
    max-width: 388px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.icon__people>img:nth-child(2),
.icon__people>img:nth-child(3) {
    margin-left: -20px;
}



button {
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #062630;
    text-transform: uppercase;

}

.coment {
    max-width: 970px;
    height: 176px;
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -1px;
    color: #062630;

}

header>div>img {
    padding-block-start: 32px;
}

header {
    background-color: #FAF5F3;
    background-image: url(../images/pattern-light-bg.svg), url(../images/glow-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: cover, auto;

}

.join {
    margin-block-start: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join__text {
    max-width: 540px;
    margin-block-end: 32px;
}

.join>img {
    max-width: 540px;
    height: auto;
    padding-block-end: 80px;
}

header button {

    margin-block-end: 20px;
    background: #FFF5EF;
    border: 2px solid #062630;
    border-radius: 8px;
    padding-inline-start: 23px;
    padding-inline-end: 63px;
    padding-block: 20.5px;
    max-width: 380px;
    width: 100%;
}

header button::after {
    content: '';
    display: inline-block;
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    transform: translate(16px);

}

.together {
    padding-block-start: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 120px;
}

.together__img,
.avarage__img {
    max-width: 520px;
}

.together__text {
    max-width: 530px;
}

.together__text>h2 {
    margin-block-end: 34px;
}

.together__text>ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

}


ul li {
    max-width: 389px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
    padding-left: 42px;
    /* padding-block-end: 24px; */
    position: relative;
}

ul li::before {
    content: '';
    display: block;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    /* transform: translate(-42px); */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.avarage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avarage__text>h2 {
    margin-block-end: 24px;
    position: relative;
}


.avarage__text {
    max-width: 540px;
}

h2>span::after {
    content: '';
    display: block;
    background-image: url(../images/pattern-circle.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, 0%);
}

.avarage__sourse_cont {
    position: relative;
}

.avarage__sourse{
    height: 138px;
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-70%, 0%);
}