@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Martian Mono';
    src: url('../fonts/martian-mono/MartianMono-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 1190px;
    padding-inline: 10px;
    margin-inline: auto;
}

h1 {
    max-width: 570px;
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-block-end: 24px;
    background: linear-gradient(107.24deg, #FEA36F -11.37%, #062630 61.84%);
    background-clip: text;
    color: transparent;
}

h2 {
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -2px;
    color: #062630;

}

h3 {
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #062630;
}

footer h2 {
    color: #FAF5F3;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
}

.developers_200 {
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #385159;
    max-width: 388px;
    position: relative;
}

.developers_200::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../images/stars.svg);
    width: 120px;
    height: 24px;
    background-repeat: no-repeat;
    /* transform:translate(-100%, -100%); */
    top: -28px;
    left: 0;
}

.icon__people {
    max-width: 388px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.icon__people>img:nth-child(2),
.icon__people>img:nth-child(3) {
    margin-left: -20px;
}

main img, .join>img{
    border-radius: 12px;
}



a, button {
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #062630;
    text-transform: uppercase;

}

.coment {
    max-width: 970px;
    height: 176px;
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -1px;
    color: #062630;
    position: relative;

}


header {
    background-color: #FAF5F3;
    background-image: url(../images/pattern-light-bg.svg), url(../images/glow-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: cover, auto;

}

header div:first-child{
    padding-block-start: 32px;
}

.join {
    padding-block-start: 80px;
    padding-block-end: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join__text {
    max-width: 540px;
    margin-block-end: 32px;
}

.join>img {
    max-width: 540px;
    height: auto;
}

header a {
    margin-block-end: 20px;
    background: #FFF5EF;
    border: 2px solid #062630;
    border-radius: 8px;
    padding-inline-end: 24px;
    padding-block: 20.5px;
    max-width: 380px;
    width: 100%;
    padding-inline-start: 24px;
    display: inline-block
}

header a::after {
    content: '';
    display: inline-block;
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    transform: translate(16px);

}

.together {
    padding-block-start: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 120px;
}

.together__img,
.avarage__img {
    max-width: 520px;
}

.together__text {
    max-width: 530px;
}

.together__text>h2 {
    margin-block-end: 34px;
}

.together__text>ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

}


main ul li {
    max-width: 389px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
    padding-left: 42px;
    /* padding-block-end: 24px; */
    position: relative;
}

main ul li::before {
    content: '';
    display: block;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    /* transform: translate(-42px); */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

header a:hover,
main .membership__options>button:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

footer .membership_a:hover {
    background: linear-gradient(90deg, #385159 0%, #062630 100%);
}

header a:focus,
main .membership__options>button:focus {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    outline: 2px solid #385159;
    border-radius: 4px;
    outline-offset: 3px;

}

footer .membership_a:focus {
    background: linear-gradient(90deg, #385159 0%, #062630 100%);
    outline: 2px solid #ffffff;
    border-radius: 4px;
    outline-offset: 3px;
}





.avarage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 120px;
}

.avarage__text > p{
    max-width: 528px;
}

.avarage__text>h2 {
    margin-block-end: 24px;
    position: relative;
}

.avarage__text_bold {

    font-weight: 600;


}

.avarage__text {
    max-width: 540px;
}

h2>span::after {
    content: '';
    display: block;
    background-image: url(../images/pattern-circle.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, 0%);
}

.avarage__sourse_cont {
    position: relative;
}

.avarage__sourse {
    height: 138px;
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-70%, 0%);
}

.avarage__sourse a:hover {
    transform: scale(1.05);
}

.steps {
    background-color: #FAF5F3;
    background-image: url(../images/pattern-light-bg.svg), url(../images/pattern-glow.svg);
    background-repeat: no-repeat, no-repeat;
    /* background-position: top left, bottom 90% right -385%; */
    background-position: top left, bottom 90% right -400px;
    background-size: cover, auto;
    margin-block-end: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding-block-start: 80px;
}

.steps>h2 {
    max-width: 512px;
    text-align: center;
    margin-block-end: 64px;
}

.steps__text {
    display: flex;
    flex-direction: column;
    max-width: 226px;
    gap: 23px;
    position: relative;
}

.steps__text>p {
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #062630;


}

.num>p {
    width: 17px;
    height: 19px;
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #062630;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #062630;
    border-radius: 4px;

}

.num>p::after {
    content: '';
    display: block;
    background-image: url(../images/pattern-arrow.svg);
    background-repeat: no-repeat;

    width: 80px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
}

.steps__text:nth-child(4) .num>p::after {
    background-image: none;
}

.steps__position {
    display: flex;
    justify-content: space-evenly;
    padding-block-end: 80px;
    width: 100%;
}

.membership {
    max-width: 970px;
    margin-block-end: 184px;
}

.membership>h2 {
    margin-block-end: 64px;
    text-align: center;
}

.membership__options {
    max-width: 286px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    border: 1px solid #E6E1DF;
    border-radius: 8px;

}

.membership__options>hr {
    border: none;
    border: 1px solid #E6E1DF;
}


.membership__options {
    span {
        font-family: 'Martian Mono', monospace;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 130%;
        color: #062630;
    }

}

.membership__options_pro {
    padding-block: 40px;
    max-width: 350px;
    min-height: 380px;
    background-color: #FAF5F3;
    background-image: url(../images/glow-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-position: top 30% left -60px;
}

.membership__options>button {
    width: 238px;
    border: 2px solid #062630;
    border-radius: 8px;
    padding-block: 20px;
    text-align: center;
    padding-inline: 23px;
    background-color: #FFF5EF;
}

.membership__options_pro>button {
    width: 302px;
    border: 2px solid #062630;
    border-radius: 8px;
    padding: 20px 23px;
}

.all__options {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.coment::after {
    content: '';
    display: block;
    background-image: url(../images/new_stars.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 164px;
    height: 28px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60px);
}

.coment_all {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 32px;
    padding-block-end: 120px;
}

footer {
    background-color: #062630;
    background-image: url(../images/pattern-dark-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    hr {
    margin-block-start: 64px;
    margin-block-end: 24px;
    border: 1px solid #385159;
}
}

.debug>h2 {
    max-width: 685px;
    padding-block-end: 40px;
}

.debug {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block-start: 80px;

    /* max-width: 753px; */
}

footer .membership_a {
    border: 2px solid white;
    border-radius: 8px;
    padding-inline-end: 24px;
    padding-block: 20.5px;
    max-width: 380px;
    width: 100%;
    color: white;
    margin-block-end: 24px;


}

footer .membership_a::after {
    content: '';
    display: inline-block;
    background-image: url(../images/icon-arrow-up.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    transform: translate(16px);
}

footer .developers_200 {
    color: white;

    

}


.footer__end {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.footer__end>p {
    color: white;
    font-family: 'Martian Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-block-end: 24px;
}

.bluesky {
    background-image: url(../images/logo-bluesky.svg);
    width: 22px;
    height: 23px;
    display: inline-block;
    background-repeat: no-repeat;

}

.link {
    background-image: url(../images/logo-linkedin.svg);
    width: 18px;
    height: 19px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 24px;
}

footer ul {
    display: flex;
    gap: 24px;

}

footer ul li:hover {
    opacity: 0.6;
}